
.c9/
.cache/
.classpath
# compiled output
/connect.lock
/coverage
.cursor/rules/nx-rules.mdc
# dependencies
dist
.DS_Store
.env
.expo
.expo-shared
frontend/dist/
.github/instructions/nx.instructions.md
/.idea
# IDEs and editors
# IDE - VSCode
*.launch
/libpeerconnection.log
.local/
# misc
node_modules
node_modules/
npm-debug.log
out-tsc
poc.db
.project
*.pyc
__pycache__/
# Replit
/.sass-cache
# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.
.settings/
*.sublime-workspace
# System Files
testem.log
Thumbs.db
tmp
*.tsbuildinfo
/typings
.venv/
venv/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
yarn-error.log
.pip-install-stamp
